@font-face {
	font-family: Montserrat;
	src: url("./assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
}

:root {
	font-family: Montserrat;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #111313;
		--background: #f0f5f4;
		--primary: #305a53;
		--secondary: #82cec3;
		--accent: #06ecc6;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #eceeee;
		--background: #0a0f0e;
		--primary: #a5cfc8;
		--secondary: #317d71;
		--accent: #00b698;
	}
}
::selection {
	background-color: var(--accent);
	color: var(--text);
}

body {
	display: flex;
	background-color: var(--background);
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

main,
section {
	display: flex;
	align-items: center;
	flex-direction: column;
	flex: 1;
}

main.home {
	justify-content: center;
}

h1 {
	margin-top: 100px;
	font-family: Montserrat;
	font-size: 3em;
	text-align: center;
	font-weight: 400;
	background: linear-gradient(to right, var(--primary), var(--accent));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	-moz-text-fill-color: transparent;
	-moz-background-clip: text;
	-moz-background-fill-color: transparent;
	color: var(--accent);
}

h1.home {
	transition: font-weight 0.5s;
	margin-top: 0px;
	font-size: 5em;
}

h1.home:hover {
	font-weight: 900;
}

div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

a {
	font-family: Montserrat;
	transition: background-color 0.3s;
	background-color: var(--secondary);
	outline: none;
	border: none;
	color: var(--text);
	font-size: 1em;
	margin: 20px;
	padding: 20px 70px;
	cursor: pointer;
	border-radius: 25px;
	text-decoration: none;
}

a:hover {
	background-color: var(--accent);
}
