:root {
	font-family: Montserrat;
}

@media (prefers-color-scheme: light) {
	:root {
		--text: #111313;
		--background: #f0f5f4;
		--primary: #305a53;
		--secondary: #82cec3;
		--accent: #35bba5;
	}
}
@media (prefers-color-scheme: dark) {
	:root {
		--text: #eceeee;
		--background: #0a0f0e;
		--primary: #a5cfc8;
		--secondary: #317d71;
		--accent: #44cab4;
	}
}
::selection {
	background-color: var(--accent);
	color: var(--text);
}

body {
	display: flex;
	background-color: var(--background);
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	margin: 0px;
	padding: 0px;
}

main,
section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}

h1 {
	font-size: 5em;
	text-align: center;
}
div {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
}

button {
	transition: background-color 0.3s;
	background-color: var(--secondary);
	outline: none;
	border: none;
	color: var(--text);
	font-family: Montserrat;
	font-size: 18px;
	margin: 20px;
	padding: 20px 70px;
	cursor: pointer;
	border-radius: 25px;
}

button:hover {
	background-color: var(--accent);
}

.title {
	background: linear-gradient(to right, var(--primary), var(--accent));
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
